<h1>Article category: <%= @article.title %></h1>


<h2>Description: <%= @article.description %></h2>
<p>Author:  <%= @article.author %></p>
<p>Price:  <%= @article.price %></p>
<p>Created at:  <%= @article.created_at.strftime("%d %b. %Y") %></p>

<button><a href="/">Home</a></button>
<button><a href="/categories/<%= @article.category.id %>">Back to Category</a></button>
